main, section.col

main

  background-color: $main_background_color

  svg
    @include size(1.6rem)
    fill: $main_text_color

  nav.chat_list, footer
    margin-top: 2rem
    padding-bottom: 0

  h3
    margin-top: 2rem

  nav.app
    @include clearfix
    margin: 0 1rem
    h1
      float: left
      height: 2rem
      max-height: 1.5rem
      width: 50%
    ul
      float: right
      margin-top: 1.25rem
    li
      display: inline
      margin-left: .5rem

  nav.chat_list

    @include flex(1)
    overflow: scroll

    h3, form, li
      margin: 0 1rem
    li
      display: block
    a
      @include clearfix
      display: block
      margin-top: 1rem
      padding: .5rem
      position: relative

    span
      display: block
      float: left
      &.notification
        padding: .1rem .5rem
        position: absolute
        right: -.5rem
        top: -.75rem
      &.chat_alias
        max-width: 13rem
        overflow: hidden
        white-space: nowrap;
      &.users
        margin-top: .2rem
        float: right
