Django==1.9.2
dj-database-url==0.4.0
dj-static==0.0.6
django-extensions==1.6.1
django-test-without-migrations==0.4
fake-factory==0.5.3
gunicorn==19.4.5
psycopg2==2.6.1
python-decouple==3.0
python-social-auth==0.2.14
pytz
