// Bourbon & Bitters
@import bourbon/app/assets/stylesheets/bourbon
@import neat/app/assets/stylesheets/neat
@import bitters/app/assets/stylesheets/base

// project settings
@import colors
@import fonts
$desktop: new-breakpoint(min-width 768px 12)

// project modules
@import footer/footer
@import menu/menu

body, html
  font-family: $font-family
  margin: 0
  padding: 0
