<!DOCTYPE html>
<html lang="pt-br">

  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{% block title %}Valentina{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>

  <body>

    <main id="home" class="outer_container">

      <div class="inner_container">
        <div class="wrapper">
          <h1><img src="{% static 'img/valentina.png' %}" alt="Valentina"/>
          </h1>
          <h2>Aqui a gente expica a ideia em uma frase</h2>
          <a id="login" href="/oauth/login/facebook/"><i class="fa fa-facebook-official"></i>Entrar com o Facebook</a>
        </div>
      </div><!-- end div.inner_container -->

      <div class="inner_container">
        <div class="steps">
          <img alt="Traga" src={% static 'img/add.png' %}>
          <h3>Encontre o perfil de quem te assediou</h3>
        </div>
        <div class="steps">
          <img alt="Compartilhe" src={% static 'img/share.png' %}>
          <h3>Fale sobre quem tem assediou</h3>
        </div>
        <div class="steps">
          <img alt="Seguro" src={% static 'img/safe.png' %}>
          <h3>Todas as salas são espaços acolhedores</h3>
        </div>
        <div class="steps">
          <img alt="Reporte" src={% static 'img/report.png' %}>
          <h3>Denuncie algo grosseiro ou perigoso</h3>
        </div>
      </div><!-- end div.inner_container -->

    </main>

    <footer class="outer_container">
      <div class="inner_container">
        <ul>
          <li><a href="#">Sobre Valentina.vc</a>
          </li>
          <li><a href="#">Quem somos</a>
          </li>
          <li><a href="#">Ajuda</a>
          </li>
          <li><a href="#">Termos de Uso & Privacidade</a>
          </li>
          <li><a href="#">Contato</a>
          </li>
        </ul>
      </div>
    </footer>

  </body>
</html>
