{% extends 'base.html' %}
{% load static %}

{% block page_class %}home{% endblock %}

{% block content %}

<div class="inner_container">
  <div class="title">
    <h1>{% include 'home/svg/valentina.svg' %}</h1>
  </div><!-- div.title -->
  <div class="headline">
    <p>Valentina, você foi bloqueada.</p>
    <p>Se você acha que ocorreu algum engano, fique à vontade para entrar em <a href="#">contato</a> com a gente.
    <p>o/</p>
  </div><!-- headline -->
</div><!-- end div.inner_container -->

{% endblock %}
