{% extends 'base.html' %}
{% load static %}

{% block page_class%}home{%endblock %}

{% block content %}

<div class="inner_container">
  <div class="title">
    <h1>{% include 'home/svg/valentina.svg' %}</h1>
  </div><!-- end div.title -->
  <div class="headline">
    <p>Muitas denúncias de assédio não são levadas até o fim por medo,
      arrependimento, culpa e repressão.</p>
    <p>Aqui você tem espaço de ouvir e ser ouvida. Juntas temos mais força e voz.</p>
    <p>A nossa voz tem nome. Valentina.</p>
  </div><!-- end div.headline -->
  <div class="login">
    <a id="login" href="{% url 'oauth:begin' 'facebook' %}">
      {% include 'app/svg/facebook.svg' %} Entrar com o Facebook
    </a>
  </div><!-- end div.login -->
</div><!-- end div.inner_container -->

<div class="inner_container">
  <div class="steps step1">
    {% include 'home/svg/screens.svg' %}
    <h3>Identifique & Compartilhe</h3>
    <p>
      Encontre aqui o seu agressor. Ele provavelmente já agrediu outras
      mulheres, você não está sozinha!  O diálogo é a nossa força. 
    </p>
  </div>
  <div class="steps step2">
    {% include 'home/svg/cat.svg' %}
    <h3>Privacidade & Segurança</h3>
    <p>
      Aqui o espaço é exclusivo para mulheres. Nosso ambiente é seguro e de
      sigilo absoluto. Pode confiar!
    </p>
  </div>
  <div class="steps step3">
    {% include 'home/svg/mouse.svg' %}
    <h3>Denuncie</h3>
    <p>
      Reporte algo grosseiro ou perigoso. Com um click você nos avisa se alguém
      está passando dos limites.
    </p>
  </div>
</div><!-- end div.inner_container -->

{% endblock %}
