<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{% block title %}Valentina{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% include 'favicons.html' %}
  </head>
  <body>
    <main class="outer_container {% block page_class %}{% endblock %}">
      {% block content %}
      {% endblock %}
    </main>
    {% include 'home/footer.html' %}
  </body>
</html>
