{% load static from staticfiles %}
<section class="col chat">

  <div class="controls">
    <button>&times;</button>
    <h2>Fulano</h2>
  </div><!-- end div.controls -->
  
  <div class="timeline">
    <ol>
      <li>
        <p class="author"><span>Valentina</span></p>
        <p>Here comes the message</p>
        <p class="ago">3 minutos atrás</p>
      </li>
      <li>
        <p class="author">
          <span>Valentina</span>
          <a href="#" title="Denunciar">{% include 'app/svg/report.svg' %} Reportar</a>
        </p>
        <p>Here comes the message</p>
        <p class="ago">3 minutos atrás</p>
      </li>
      <li class="me">
        <p class="author"><span>Valentina</span></p>
        <p>Here comes the message</p>
        <p class="ago">3 minutos atrás</p>
      </li>
      <li>
        <p class="author"><span>Valentina</span></p>
        <p>Here comes the message</p>
        <p class="ago">3 minutos atrás</p>
      </li>
    </ol>
  </div><!-- end div.timeline -->

  <div class="input">
    <form action="#">
      <textarea></textarea>
      <button>Enviar</button>
    </form>
  </div><!-- end div.input -->

</section>
