<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% load static from staticfiles %}
    {% load compress %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{% block title %}Valentina{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>

    {% compress css %}
    <link rel="stylesheet" type="text/x-sass" href="{% static 'css/app.sass' %}">
    {% endcompress %}

    {% include 'favicons.html' %}

  </head>
  <body>

    {% include 'app/menu.html' %}
    <div id="chat_panels"></div>

    {% compress js %}
    <script type="text/x-browserify" src="{% static 'js/app.js' %}"></script> 
    {% endcompress %}

  </body>
</html>
