<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% load static from staticfiles %}
    {% load compress %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{% block title %}Valentina{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>

    {% compress css %}
    <link rel="stylesheet" type="text/x-sass" href="{% static 'css/app.sass' %}">
    {% endcompress %}
    {% include 'favicons.html' %}
  </head>
  <body>

    <main class="col">
      
      <nav class="app">
        <div>
          <h1><img src="{% static 'img/valentina.png' %}" alt="Valentina"></h1>
          <ul>
            <li><a href="#" title="Preferências">{% include 'app/svg/preferences.svg' %}</a></li>
            <li><a href="{% url 'app:logout' %}" title="Sair">{% include 'app/svg/logout.svg' %}</a></li>
          </ul>
        </div>
      </nav><!-- end nav.app -->

      <nav class="chat_list">

        <form action="#">
          <input id="fb_url" name="fb_url" placeholder="Cole aqui a URL do Facebook do agressor">
        </form>
        
        <h3>Seus grupos</h3>
        <ul>
          <li>
            <a href="#">
              <span class="chat_alias">Fulano</span>
              <span class="users">42 Valentinas</span>
              <span class="notification">2</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="chat_alias">Ciclano</span>
              <span class="users">7 Valentinas</span>
              <span class="notification empty"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="chat_alias">Beltrano</span>
              <span class="users">1 Valentina</span>
              <span class="notification">134</span>
            </a>
          </li>
        </ul>
      </nav><!-- end nav.chat_list -->

      {% include 'app/footer.html' %}

    </main>

    <section class="col chat">

      <div class="controls">
        <button>&times;</button>
        <h2>Fulano</h2>
      </div>
      
      <div class="timeline">
        <ol>
          <li>
            <p class="author"><span>Valentina</span></p>
            <p>Here comes the message</p>
            <p class="ago">3 minutos atrás</p>
          </li>
          <li>
            <p class="author">
              <span>Valentina</span>
              <a href="#" title="Denunciar">{% include 'app/svg/report.svg' %} Reportar</a>
            </p>
            <p>Here comes the message</p>
            <p class="ago">3 minutos atrás</p>
          </li>
          <li class="me">
            <p class="author"><span>Valentina</span></p>
            <p>Here comes the message</p>
            <p class="ago">3 minutos atrás</p>
          </li>
          <li>
            <p class="author"><span>Valentina</span></p>
            <p>Here comes the message</p>
            <p class="ago">3 minutos atrás</p>
          </li>
        </ol>
      </div><!-- end div.timelina -->

      <div class="input">
        <form action="#">
          <textarea></textarea>
          <button>Enviar</button>
        </form>
      </div><!-- end div.timelina -->

    </section>


  </body>
</html>
