{% load static from staticfiles %}
<main class="col{% if not nickname %} first_access{% endif %}">
  
  <nav class="app">
    <div>
      <h1><img src="{% static 'img/valentina.png' %}" alt="Valentina"></h1>
      <ul>
        <li><a href="#" id="preferences"  title="Preferências">{% include 'app/svg/preferences.svg' %}</a></li>
        <li><a href="{% url 'app:logout' %}" title="Sair">{% include 'app/svg/logout.svg' %}</a></li>
      </ul>
    </div>
  </nav><!-- end nav.app -->
  
  <form class="preferences" action="{% url 'app:profile' %}" method="post">
    <h3>Preferências</h3>
    <p>
      <span>Aqui você é conhecida como</span>
      <input name="nickname" type="text" value="{% firstof nickname random_nickname %}"> 
    </p>
    <p>
      <button type="reset">Cancelar</button>
      <button type="submit">Salvar</button>
    </p>
  </form>

  <nav class="chat_list">

    <div>
      <form name="facebook-search" class="search-bar" action="{% url 'app:facebook' %}" method="post">
        <span>{% include 'app/svg/facebook.svg' %}</span>
        <input type="search" name="url" placeholder="Cole a URL do Facebook do agressor" />
        <button type="submit">{% include 'app/svg/magnifier.svg' %}</button>
      </form>
      <div id="facebook"></div>

      <div class="chats{% if not chats %} hidden{% endif %}">
        <h3>Seus grupos</h3>
        <ul>
          {% for chat in chats %}
          <li data-chat-url="{{ chat.url }}">
            <a>
              <span class="chat_alias">{{ chat.alias }}</span>
              <span class="users">{{ chat.valentinas }} Valentina{{ chat.valentinas|pluralize }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div><!-- div.chats -->

    </nav><!-- end nav.chat_list -->
  </div>

  {% include 'app/footer.html' %}

</main>
