{% load static from staticfiles %}
<main class="col">
  
  <nav class="app">
    <div>
      <h1><img src="{% static 'img/valentina.png' %}" alt="Valentina"></h1>
      <ul>
        <li><a href="#" id="preferences"  title="Preferências">{% include 'app/svg/preferences.svg' %}</a></li>
        <li><a href="{% url 'app:logout' %}" title="Sair">{% include 'app/svg/logout.svg' %}</a></li>
      </ul>
    </div>
  </nav><!-- end nav.app -->
  
  <form class="preferences" action="{% url 'app:profile' %}" method="post">
    <h3>Preferências</h3>
    <p>
      Aqui você é conhecida como
      <input name="nickname" type="text" value="{{ nickname }}"> 
    </p>
    <p>
      <button type="reset">Cancelar</button>
      <button type="submit">Salvar</button>
    </p>
  </form>

  <nav class="chat_list">

    <div>
      <form class="search-bar">
        <span>{% include 'app/svg/facebook.svg' %}</span>
        <input type="search" name="url" placeholder="Cole a URL do Facebook do agressor" />
        <button type="submit">{% include 'app/svg/magnifier.svg' %}</button>
      </form>

      <h3>Seus grupos</h3>
      <ul>
        {% for chat in chats %}
        <li data-chat-url="{{ chat.url }}">
          <a>
            <span class="chat_alias">{{ chat.alias }}</span>
            <span class="users">{{ chat.valentinas }} Valentina{{ chat.valentinas|pluralize }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav><!-- end nav.chat_list -->
  </div>

  {% include 'app/footer.html' %}

</main>
